body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, rgb(1, 35, 39), rgb(30, 26, 26));
}

.css-selector {
    background: linear-gradient(50deg, #040c20, #1c6885);
    background-size: 400% 400%;

    -webkit-animation: myCalc 20s ease infinite;
    -moz-animation: myCalc 20s ease infinite;
    animation: myCalc 20s ease infinite;
}

@-webkit-keyframes myCalc {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes myCalc {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes myCalc {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}


.calcContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 2rem;
    width: 60vw;
    gap: 0.5rem;
    max-width: 600px;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;   
}

.poweredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 2rem;
}

.poweredBy {
    font-size: 1.2rem;
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color:rgb(215, 215, 215);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.nuclioLogo {
    height: 28px;
    margin-top: -0.5rem;
}


#screen{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #040c20c0;
    text-align: right;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 1rem;
    border-radius: 0.45rem;
    color: rgb(102, 255, 201);
    box-shadow: 0px 0px 8px #c9d1cc4a inset;
}


button{
    background-color: transparent;
    color: #fafafa;
    border: 1px solid rgb(130, 255, 234);
    border-radius: 0.45rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    text-align: center;
    box-shadow: 3px 3px 5px #c9d1cc4a; 
}


#result{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgba(127, 255, 212, 0.499);
    color:rgb(255, 255, 255);
    border: 1px solid rgb(130, 255, 234);
    border-radius: 0.45rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
}
#result:hover {
    background-color: rgba(10, 244, 166, 0.635);
    color:rgb(255, 255, 255);
}

#ac{
    background-color: rgba(194, 41, 41, 0.6);
    color: white;
}

#ac:hover {
    background-color: rgba(90, 20, 20, 0.6);
    color: white;
}

.operador{
    background-color: rgba(127, 255, 212, 0.499);
    color: #f5f0f0
}

.operador:hover{
    background-color: rgba(0, 219, 182, 0.336);
    color: #f5f0f0
}

button:hover{
    background-color: rgb(114, 114, 114);
    color: #f5f0f0
}